html {
  background-color: #808080;
  color: #FFFFFF;
  font-family: menlo;
}
body {

}

#* {
#  border: 1px solid black;
#}

.Top {
  margin-right: auto;
  margin-left: auto
}

.Title {
  text-align: center;
}

object { 
  margin-left: 50%;
  transform: translate(-427px,0%);
}

.Middle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  border: 4px solid black;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  text-align: center;
}

.column-left {
  position: relative;
  margin-left: auto;
  width: 30%
}

.column-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30%
}

.column-right {
  position: relative;
  margin-right: auto;
  width: 30%
}

.chat {
  overflow: visible;
  border: 
}